* {
  padding: 0;
  margin: 0;
}
main {
  font-family: "Nunito", sans-serif;
  padding: 30px;
  margin: 0 auto;
  height: max-content;
  background: linear-gradient(178.6deg, rgb(181, 222, 248) 3.3%, rgb(252, 253, 255) 109.6%);
  /* linear-gradient(178.6deg, rgb(232, 245, 253) 3.3%, rgb(252, 253, 255) 109.6%); */
  /* linear-gradient(359.3deg, rgb(196, 214, 252) 1%, rgba(187, 187, 187, 0) 70.9%); */
  /* linear-gradient(to top, #dfe9f3 0%, white 100%); */
  border-color: blue;
  min-height: 100vh;
}
.container {
  max-width: none;
}
.row {
  align-items: center;
  margin: 0;
}
.row-days {
  margin: 0;
  padding-bottom: 10px;
}
#enter-city {
  margin-top: 5px;
  border: solid 2px #42a5f5;
  /*width: 350px;*/
}
/* .enter-city-form {
  display: flex;
  align-items: center;
} */
.location-icon {
  position: relative;
  /* margin-left: 23px; */
  color: #6B68CE;
}
.location-icon:hover {
  color: white ;
  cursor: pointer;
  /* #ff70b5 */
}
.location-btn {
  display: block;
  background-color: transparent;
  border-color: transparent;
  margin-left: 25px;
}
.hometown-icon {
  color: #6b68ce;
  margin-left: 10px;
}
.hometown-icon:hover {
  color: white;
  cursor: pointer;
}
.language {
  margin-left: 8px;
  width: 27px;
  color: #328bd0;
  font-size: 18px;
  font-weight: 800;
  background-color: #c4e0f4;
  border-radius: 3px;
}
.language:hover {
  color: #ff70b5;
  cursor: pointer;
  border: solid 1px #4c7ce5;
}
.last-cities {
  margin-left: 24px;
  display: flex;
  gap: 5px;
}
.last-cities a {
  cursor: pointer;
  outline-offset: 2px;
  color: white !important;
  mix-blend-mode: difference !important;
}
.last-cities a:hover {
  text-decoration: underline #0f3375;
}
a {
  color: #656c7e;
  font-size: 16px;
}
#suggested-cities {
  width: max-content;
}
.suggested-cities-link {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
}
.search-button {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 50px;
  border: solid 2px #596aca;
  background-color: #eff1f4;
  color: #42a5f5;
  font-weight: 900;
  font-size: 17px;
  box-shadow: 1px 1px 1px 1px #011e6f;
  transition: 1s ease;
}
.location-btn {
  height: 40px;
}
.search-button:hover {
  color: #ff70b5;
}
.search-button:active {
  border-color: #0f3375;
}
.icon-current-weather {
  margin-top: 10px;
  img {
    width: 200px;
    height: 200px;
  }
  .animation-icons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
.current-temperature {
  font-weight: 600;
  margin-top: 50px;
}
.degree {
  font-size: 44px;
  color: white;
  text-shadow: 2px 2px 9px black;
}
.degrees-symbols {
  font-size: 25px;  
  position: relative;
  vertical-align: top;
  color: white;
  text-shadow: 2px 2px 2px black;
  display: none;
}
.inactive {
  color: rgba(145, 145, 145, 0.3);
  text-shadow: none;
}
.inactive:hover {
  cursor: pointer;
  color: rgb(232, 229, 229);
  text-shadow: 2px 2px 2px black;
}
.active {
  color: white;
  text-shadow: 2px 2px 2px black;
}
.online-city {
  margin-top: 20px;
  text-align: center;
}
.current-city {
  font-size: 44px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 9px black;
}
.current-city:hover {
  cursor: pointer;
  color: #588bf9;
}
.country-code {
  margin-left: 3px;
}
.online-city .hometown-icon {
  color: #a29ff1;
  /* position: relative;
  bottom: 7px; */
}
/* .online-city .date {
  font-size: 18px;
} */
.online-city .today {
  font-size: 18px;
}
.online-city .weekday-time {
  font-size: 18px;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}
.weather-conditions {
  padding: 0;
  padding-left: 30px;
  margin-top: 10px;
  color: white;
  text-shadow: 3px 3px 10px black;
  font-weight: bold;
  display: none;
}
.sunrise-sunset {
  display: none;
}
.hourly-wrapper {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: #5193f5  #eff1f4;
  scrollbar-width: thin;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}
.hour-box {
  display: grid;
  grid-template-rows: 1fr 1fr 2.5fr 1fr;
}
.hour-box div {
  color:white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  /* filter: invert(1); */
  /* mix-blend-mode: difference; */
}
.hour-box .precipitation {
  font-size: 10px;
}
.descr {
  font-size: 18px;
  color: white;
}
.wind-icon {
  color: #7ec2fa;
  margin-bottom: 50px;
}
.box {
  height: 220px;
  border: solid 4px #42a5f5;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 200ms;
  background-color: rgb(0, 0, 0, 0.4);
  
}
.box:hover {
  border-color: #b0d9f9;
  /* box-shadow: 1px 1px 1px 1px #2487d3; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.1);
}
.box:active {
  border-color: #b0d9f9;
  /* box-shadow: 1px 1px 1px 1px #2487d3; */
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transform: scale(1.1);
}
.box .weekday {
  color: #ff3e6e;
  font-size: 24px;
  font-weight: 800;
}
.box .data {
  font-size: 20px;
  font-weight: 600;
}
.box .weather-icon {
  font-size: 40px;
}
.box .upper-bound {
  font-size: 24px;
}
.box .lower-bound {
  font-size: 20px;
}
.code-link-section {
  width: 700px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 12px;
}
.code-link-section a {
  font-size: 12px;
}
@media(max-width: 800px) {
  .row-days {
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #5193f5  #eff1f4;
    scrollbar-width: thin;
  }
  .current-city {
    font-size: 30px;
  }
}
@media(max-width: 580px) {
  main {
    padding: 30px 0;
  }
  .container {
    padding: 0;
    max-width: none;
  }
  input#enter-city.form-control {
    margin: 0;
  }
  .search-button {
    margin: 0;
  }
  .location-btn {
    margin-left: 10px;
  }
  .current-city {
    font-size: 30px;
  }
  .icon-current-weather {
    img {
      width: 60px;
      height: 60px;
    }
  }
  .degree {
    font-size: 20px;
  }
  .degrees-symbols {
    font-size: 15px;
  }
}
@media(max-width: 420px) {
  .current-city {
    font-size: 20px;
  }
  span, .descr {
    font-size: 12px;
  }
  .box {
    height: 180px;
  }
  .box .upper-bound , .box .lower-bound {
    font-size: 16px;
  }
  #enter-city {
    border: solid 2px #42a5f5;
  }
}
@media(max-width: 340px) {
  /* .weather-conditions {
    padding-left: 10px;
  } */
  main {
    padding-top: 1em;
  }
  .search-button {
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 2px;
  }
  .icon-search {
    font-size: 14px;
  }
  .location-icon {
    font-size: 14px;
    /* margin-left: 2px; */
  }
  .language {
    font-size: 14px;
    margin-left: 0;
    width: auto;
  }
  .hour-box div {
    font-size: 12px;
  }
  .box {
    height: 160px;
  }
  .box-day .data, .box-day .weekday {
    font-size: 16px;
  }
  .box-day .upper-bound, .box-day .lower-bound {
    font-size: 14px;
  }
  .weather-hourly {
    padding: 0;
  }
  .icon-current-weather {
    img {
      width: 30px;
      height: 30px;
    }
  }
  .last-cities {
    margin: 0;
    overflow-x: hidden;
    gap: 3px;
  }
  .last-cities a {
    font-size: 12px;
  }
  .weather-conditions {
    padding-left: 10px; 
  }
}